.head{
	@include benton();
	font-size: 20px;
	color: $gray8;
	margin: 25px 0 0;
}

body#off{
	.head{
		color: $grayc;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	@include miller-bold();
	font-weight: bold;
	font-size: 100%;
	//font: bold 100%/1.2 "MillerHeadline Bold", Cambria, Georgia, serif;
	color: #000;
	margin: 5px 0;
	line-height: 1.1em;
}

// h1, .h1 { font-size: 287.5%; } /* 46px */
// h2, .h2 { font-size: 250%; }   /* 40px */
// h3, .h3 { font-size: 212.5%; } /* 34px */
// h4, .h4 { font-size: 175%; }   /* 28px */
// h5, .h5 { font-size: 137.5%; } /* 22px */
// h6, .h6 { font-size: 100%; }   /* 16px */

h1, .h1 { font-size: 46px; } /* 46px */
h2, .h2 { font-size: 40px; }   /* 40px */
h3, .h3 { font-size: 34px; } /* 34px */
h4, .h4 { font-size: 28px; }   /* 28px */
h5, .h5 { font-size: 22px; } /* 22px */
h6, .h6 { font-size: 16px; }   /* 16px */

.label{
	font-family: Arial,sans-serif;
	font-size: .813em;
	font-weight: bold;
	line-height: 1.15313653;
	color: #ae1a1f;
	letter-spacing: .1em;
	text-transform: uppercase;
	margin: 0;
	padding: .34594096em 0;
}

.dropcap::first-letter{
	float: left;
	font-size: 3.125em;
	line-height: .5em;
	padding-right: 5px;
	padding-top: 8px;
	padding-left: 3px;
	padding-bottom: 0;
	@include miller-bold;
}

.li1 { 
	
	padding: 0;
	margin: 5px 0 10px; 
	
	li {
		@include miller-bold();
		font-size: 16px; /* 16px */
		font-weight: bold;
		line-height: 1.125; /* (((1.5 / 1) = 1.5) * .75) = 1.125 */
		letter-spacing: .01em;
		border-width: 1px 0;
		border-style: solid;
		border-color: $grayd;
		list-style: none;
		margin-bottom: -1px;
		padding: .25em 0;
	}
}

.tip{
	font-family: Arial,sans-serif;
	font-size: .7em;
	line-height: 1.2em;
	letter-spacing: .05em;
	margin: 0 0 5px;
	text-transform: uppercase;
	color: #999;
	text-align: center;
}

footer p.jump{
	font-style: italic;
	text-align: right;
	color: #000;
	margin: 0 0 10px;
	padding: 0;
	
	span{
		font-family: $sans;
		font-weight: bold;
		font-style: normal;
		text-transform: uppercase;
	}
	
}

#footer {
	
	background: $raven;
	min-height: 70px;
	
	div#bd_press {
	
		margin: 0 10px;
		padding: 10px 0;
		position: relative;
	
		.logo{
			max-width: 150px;
		
			@media (min-width: $break) { float: right; }
		
			img{
				width: 100%;
			}
		}
	
		p{
			font-family: $sans;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: .05em;
			color: #999;
			margin: 0;
			padding: 0px;
		}
	}
}