#countdown{
	
	float: right;
	text-align: center;
	margin: 5px 10px;
	border-left: 2px solid $rgmc;
	padding-left: 10px;
	
	.label { 
		//color: $rgmc;
		color: $raven;
		padding: 0;
	}
	
	h1 { margin: 0; } 
	
	h5 { 
		text-transform: uppercase;
		margin: 0;
	}
	
}

body#off{
	
	#countdown{
		
		h1, h5 { color: $milk; }
		
		.label { color: $charmander; }
		
	}
	
}