div#content div.flex{
	
	padding: 0 20px;
	
}

@media all and (min-width: 980px){
	
	div#content div.flex{
		width: 100%;
		margin: 0;
		/* See: https://css-tricks.com/using-flexbox/ */
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;
		
		.flex-left, .flex-middle, .flex-right {
			padding: 0;
			-webkit-flex-grow: 0;
			flex-grow: 0;
			-webkit-flex-shrink: 0;
			flex-shrink: 0;
		}
		
		.flex-left {
			-ms-flex-preferred-size: 320px;
			-ms-flex-preferred-size: 320px;
			-webkit-flex-basis: 320px;
			flex-basis: 320px;
			
			-ms-flex-order: 1; -webkit-order: 1; order: 1;
			
			padding: 0 19px 0 0;
			border-right: 1px solid #ccc;
		}
		.flex-middle {
			-ms-flex-preferred-size: 640px;
			-ms-flex-preferred-size: 640px;
			-webkit-flex-basis: 640px;
			flex-basis: 640px;
			
			-ms-flex-order: 2; -webkit-order: 2; order: 2;
			
			-webkit-flex-shrink: 1;
			flex-shrink: 1;
			
			padding: 0 20px;
		}
		.flex-right {
			-ms-flex-preferred-size: 320px;
			-ms-flex-preferred-size: 320px;
			-webkit-flex-basis: 320px;
			flex-basis: 320px;
			
			-ms-flex-order: 3; -webkit-order: 3; order: 3;
			
			padding: 0 0 0 19px;
			border-left: 1px solid #ccc;
		}
		
	}
	
}

// Outer margins
