#header {
	
	background-color: $raven;
	box-shadow: 2px 2px 8px $gray6;
	
	#masthead > div {
		
		position: relative;
		padding: 25px;
		
		.sharing {
			text-align: center;
			margin-top: 15px;
			
			@media all and (min-width: $break) {
				
				margin: 0;
				position: absolute;
				top: 25px;
				right: 0;
				
			}
			
		}
		
		h2, h1 {
			
			text-align: center;
			margin: 0;
			
			@media all and (min-width: $break) {
				
				text-align: left;
				
			}
			
		}
		
		h2 {
			
			font-family: "MillerHeadline Bold";
			font-weight: bold;
			font-style: normal;
			font-size: 50px;
			line-height: 45px;
			letter-spacing: normal;
			color: $milk;
			margin-bottom: 5px;
			
			@media all and (min-width: $break) {
				
				font-size: 90px;
				line-height: 75px;
				
			}
			
		}
		
		h1 {
			
			font-family: "MillerHeadline Light";
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 25px;
			//letter-spacing: .15em;
			color: $grayd;
			text-rendering: optimizeLegibility;
			-webkit-font-feature-settings: "kern";
			   -moz-font-feature-settings: "kern";
			   -moz-font-feature-settings: "kern=1";
			        font-feature-settings: "kern";
			
			@media all and (min-width: $break) {
				
				font-size: 30px;
				line-height: 30px;
				//letter-spacing: .075em;
				
			}
			
		}
		
	}
	
}

#wrapper{
	#content{
		width: 100%;
		max-width: 1320px;
		margin: 0 auto;
		padding: 10px 0;
		overflow: hidden;
	}
}

// Meant to wrap `.core`:
.wrap {
	
	padding: {
		right: 25px;
		left: 25px;
	}
	
	@media all and (min-width: 640px) {
		
		padding: {
			right: 50px;
			left: 50px;
		}
		
	}
	
}

