body#on div#wrapper{
	transition: all .5s ease, background-position 1ms, background-color 100ms;
	-webkit-transition: all .5s ease, background-position 1ms, background-color 100ms;
	-moz-transition: all .5s ease, background-position 1ms, background-color 100ms;
	background: $milk;
	color: $raven;
}

body#off div#wrapper{
	transition: all .5s ease, background-position 1ms, background-color 100ms;
	-webkit-transition: all .5s ease, background-position 1ms, background-color 100ms;
	-moz-transition: all .5s ease, background-position 1ms, background-color 100ms;
	background-color: $raven;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: $milk;
	
	div#content{
		background: rgba(0,0,0,.6);
	}
	
	cite.vjs-playlist-name{
		transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		color: $milk;
	}
}
